<launch>
    <group ns="ambs">

    <rosparam command="load" file="$(find ambs_pluginlib)/test_configs/test_components.yaml" />

    <node pkg="nodelet" type="nodelet" name="base_nodelet_manager" args="manager"  output="screen">
        <param name="num_worker_threads" value="32" />
    </node>


    <node pkg="nodelet" type="nodelet" name="stopwatch"
        args="load ambs_calculators/StopwatchNodelet base_nodelet_manager">
    </node>

    </group>
</launch>
