<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="ambs">

    <rosparam command="load" file="$(find ambs_pluginlib)/test_configs/test_components.yaml" />

    <node pkg="nodelet" type="nodelet" name="base_nodelet_manager" args="manager"  output="screen">
        <param name="num_worker_threads" value="32" />
    </node>


    <node pkg="nodelet" type="nodelet" name="test_comp_param_node"
        args="load ambs_calculators/CompFloatParamNodelet base_nodelet_manager">
        <remap from="/in_start" to="start_calc" />
        <remap from="/in_stop" to="stop_calc" />
        <remap from="/in_reset" to="reset_calc" />
        <remap from="/in_float" to="calc_float" />
        <remap from="/out_done" to="calc_done" />
        <remap from="/out_comparison" to="calc_result" />
    </node>

    </group>
</launch>
