<launch>
    <group ns="ambs">

    <arg name="dest_dir" default="$(env HOME)/ARAIG" />
    <arg name="bot_name" default="test_bot" />

    <node pkg="nodelet" type="nodelet" name="base_nodelet_manager" args="manager"  output="screen">
        <param name="num_worker_threads" value="32" />
    </node>


    <node pkg="nodelet" type="nodelet" name="test_odom_interpreter"
        args="load ambs_interpreters/OdomInterpreterNodelet base_nodelet_manager">
    </node>

    </group>
</launch>
